/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/.idea
/resources/sass/fonts
/public/fonts
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
